server:
  port: 3001
  address: 0.0.0.0

spring:
  application:
    name: hub-service
  config:
    import: 'optional:configserver:'
  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server

  data:
    redis:
      host: localhost
      port: 6379

  datasource:
    url: jdbc:postgresql://localhost:5432/hub_db
    username: { POSTGRESQL_USERNAME }
    password: { POSTGRESQL_PASSWORD }
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

eureka:
  instance:
    prefer-ip-address: false
    hostname: localhost

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:3150/eureka/

gpr:
  username: ${GITHUB_ACTOR}
  token: ${GH_PAT}

