server:
  port: 3001
  address: 0.0.0.0

spring:
  application:
    name: hub-service

  config:
    import: 'optional:configserver:${CONFIG_SERVER_URL}'

  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server
      uri: ${CONFIG_SERVER_URL}

  datasource:
    url: jdbc:postgresql://localhost:5432/hub_db
    username: ${POSTGRESQL_USERNAME}
    password: ${POSTGRESQL_PASSWORD}
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: localhost
      port: 6379

  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
    virtual-host: /

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

eureka:
  instance:
    prefer-ip-address: false

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_SERVER_URL}

kakao:
  rest-api-key: ${KAKAO_REST_API_KEY}

